.wordle-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.green {
  width: 40px;
  height: 40px;
  font-size: 40px;
  margin: 10px;
  background-color: darkgreen;
  color: antiquewhite;
  text-align: center;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
}

.green-letter-inputs {
  display: flex;
  flex-direction: column;
}

.black {
  width: 350px;
  height: 40px;
  font-size: 40px;
  background-color: black;
  color: antiquewhite;
  text-align: center;
  margin-bottom: 15px;
}

.yellow {
  width:160px;
  height: 40px;
  font-size: 40px;
  background-color: rgb(181, 172, 0);
  color: antiquewhite;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
  margin: 10px;
}

.word-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.word-card {
  margin: 5px;
  border-style: solid;
  border-radius: 5px;
  padding: 0px 4px;
}

main {
  display: flex;
  flex-direction: column;
}

.letters-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.words-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.letter-count {
  border-style: solid;
  padding: 0px 3px;
  margin: 2px;
  border-color: rgb(135, 135, 135);
}

@media (max-width: 950px) {
  .yellow,
  .green {
    width: 30px;
    font-size: 30px;
    margin: 3px;
  }
  .black {
    width: 80vw;
  }
}