html {
  background: linear-gradient(90deg, #ebf4f6, #ace8fc);
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.App {
  text-align: center;
}

#hide,
#guessed {
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  height: 35px;
  border-radius: 5px;
  margin: 5px;
}

#hide:hover {
  cursor: pointer;
}

@media (max-width: 500px) {
  h2 {
    font-size: 15px;
  }
}
