html {
  background: linear-gradient(90deg, #ebf4f6, #ace8fc);
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.App {
  text-align: center;
}

@media (max-width: 500px) {
  h2 {
    font-size: 15px;
  }
}
